.left-nav-container {
    width: 100%;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
}